body {
    padding: 0;
}
.maincontainer {
    display: none;
    background-color: white;
    margin: 20px auto 10px auto;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.classic-markers, .custom-markers, #wrapper2 {
    display: none;
    flex-direction: column;
}

.restart {
    width: 100px;
    margin: 10px auto;
}

.announcements {
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.first-round-box {
    display: none;
}

.player-scores {
    display: flex;
    width: 250px;
    margin: 0 auto;
    justify-content: space-around;
}

.player-announce {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

h3 {
    margin-top: 5px;
}


.gameform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 3px 8px;
}

.form-div {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.instructions {
    max-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom: 5px solid white;
    padding: 0 10px;
    margin: 0;
    border: 5px solid white;
    width: 97.5%;
    overflow-y: auto;
}

input {
    padding: 3px;
}

select {
    display: flex;
    align-items: center;
    padding: 3px;
}

p {
    margin: 5px 3px 3px 3px;
}

h1 {
    font-family: 'Montserrat', serif;
}

.square {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 30px;
}


label {
    margin-left: 1px;
}


.quickstart {
    width: 300px;
    margin: 0 auto;
}

.startbtn-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.s0 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.s1 {
    border: 1px solid black;
    border-top: 0;
}

.s2 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.s3 {
    border: 1px solid black;
    border-left: 0;
}

.s4 {
    border: 1px solid black;
}

.s5 {
    border: 1px solid black;
    border-right: 0;
}

.s6 {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.s7 {
    border: 1px solid black;
    border-bottom: 0;
}

.s8 {
    border-top: 1px solid black;
    border-left: 1px solid black;
}